#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  height: 80vh;
  width: 1280px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: #F5F7FB;
  display: flex;
  justify-content: center;
  place-items: center;
}

